.logo {
  color: #fff;
}

.navbar {
  height: 71px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.catalog {
  height: 71px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.menu {
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
